body {
  margin: 3%;
}

img {
  width: 100%;
}

div {
  padding: 0 0 20px 0;
}

p {
  color: #333;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: justify;
  line-height: 24px;
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
}

p.title {
  color: #FFFFFF;
  background-color: #000000;
  font-weight: 600;
  letter-spacing: 5px;
  text-align: center;
  margin: 0 0 40px 0;
  /**/
  padding: 0.5em;
  min-height: 2em;
  line-height: 2em;
  vertical-align: middle;    
}